{% load static %}

<section class="w-full bg-[#f7f2ea] py-8 px-2 sm:py-10 sm:px-4 flex flex-col items-center">
    <h3 class="text-xl md:text-2xl font-bold text-[#8B4513] mb-6">SHOP BY CONCERN</h3>
    <div class="flex flex-wrap justify-center gap-4 sm:gap-8 text-sm sm:text-base md:text-lg font-medium">
      
      <a href="shop.html" class="relative flex flex-col items-center justify-center w-40 h-48 md:w-56 md:h-64 group">
        <img src="{% static 'images/concern-wrinkle.jpeg' %}" alt="Wrinkle" class="w-36 h-36 md:w-48 md:h-48 object-cover transition-all duration-300 filter grayscale group-hover:scale-105"/>
        <span class="mt-4 text-[#8B4513] text-xs md:text-sm">Wrinkle</span>
      </a>

      <a href="shop.html" class="relative flex flex-col items-center justify-center w-40 h-48 md:w-56 md:h-64 group">
        <img src="{% static 'images/acne.png' %}" alt="Acne" class="w-36 h-36 md:w-48 md:h-48 object-cover transition-all duration-300 filter grayscale group-hover:scale-105"/>
        <span class="mt-4 text-[#8B4513] text-xs md:text-sm">Acne</span>
      </a>

      <a href="shop.html" class="relative flex flex-col items-center justify-center w-40 h-48 md:w-56 md:h-64 group">
        <img src="{% static 'images/hair_loss.png' %}" alt="Hair loss" class="w-36 h-36 md:w-48 md:h-48 object-cover transition-all duration-300 filter grayscale group-hover:scale-105"/>
        <span class="mt-4 text-[#8B4513] text-xs md:text-sm">Hair loss</span>
      </a>

      <a href="shop.html" class="relative flex flex-col items-center justify-center w-40 h-48 md:w-56 md:h-64 group">
        <img src="{% static 'images/daily.png' %}" alt="Daily Essentials" class="w-36 h-36 md:w-48 md:h-48 object-cover transition-all duration-300 filter grayscale group-hover:scale-105"/>
        <span class="mt-4 text-[#8B4513] text-xs md:text-sm">Daily Essentials</span>
      </a>

      <a href="shop.html" class="relative flex flex-col items-center justify-center w-40 h-48 md:w-56 md:h-64 group">
        <img src="{% static 'images/blackheads.png' %}" alt="Blackheads" class="w-36 h-36 md:w-48 md:h-48 object-cover transition-all duration-300 filter grayscale group-hover:scale-105"/>
        <span class="mt-4 text-[#8B4513] text-xs md:text-sm">Blackheads</span>
      </a>

      <a href="shop.html" class="relative flex flex-col items-center justify-center w-40 h-48 md:w-56 md:h-64 group">
        <img src="{% static 'images/dryskin.png' %}" alt="Dry Skin" class="w-36 h-36 md:w-48 md:h-48 object-cover transition-all duration-300 filter grayscale group-hover:scale-105"/>
        <span class="mt-4 text-[#8B4513] text-xs md:text-sm">Dry Skin</span>
      </a>

    </div>
</section>
