{% extends "base/base.html" %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<style>
  * { font-family: 'Open Sans', sans-serif; }
</style>

{% block navbar %}
  {% include "base/navbar.html" %}
{% endblock %}

{% block about-us %}
  {% include "base/ayuretreat-dec.html" %}
{% endblock %}

{% block footer %}
  {% include "base/footer.html" %}
{% endblock %}
